# Collab Cloud configuration
# Your Tiptap Collab Cloud "App ID", see https://cloud.tiptap.dev/apps
NEXT_PUBLIC_TIPTAP_COLLAB_APP_ID=

# Your Tiptap Collab Cloud "App Secret", see https://cloud.tiptap.dev/apps/settings
TIPTAP_COLLAB_SECRET=
TIPTAP_PRO_TOKEN=

# The document prefix for your Tiptap Collab Cloud documents
NEXT_PUBLIC_COLLAB_DOC_PREFIX=doc_

# PostHog Organization API Key
NEXT_PUBLIC_POSTHOG_KEY=

# Host to connect to for PostHog
NEXT_PUBLIC_POSTHOG_HOST=


